<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- if you want only specific pattern to avoid security, define different 
		http blocks here with security="none" -->

	<http use-expressions="true" pattern="/apps/**">
		<intercept-url pattern="/apps/login" access="permitAll" />
		<intercept-url pattern="/apps/logout" access="permitAll" />
		<intercept-url pattern="/apps/loginfailed" access="permitAll" />
		<intercept-url pattern="/apps/**" access="isAuthenticated()" />
		<form-login login-page="/apps/login" default-target-url="/apps/home"
			authentication-failure-url="/apps/loginfailed" />
		<logout logout-success-url="/apps/logout" />
	</http>

	<!-- Creates the springSecurityFilterChain with the customer filter customRestFilter 
		injected. -->
	<http create-session="stateless" use-expressions="true"
		entry-point-ref="authenticationEntryPoint">
		<intercept-url pattern="/user/auth" access="permitAll" />
		<intercept-url pattern="/user/newtokens" access="permitAll" />
		<intercept-url pattern="/log" access="permitAll" />
		<intercept-url pattern="/log/*" access="permitAll" />
		<intercept-url pattern="/logs/*" access="permitAll" />

		<intercept-url pattern="/profile" access="permitAll" />
		<intercept-url pattern="/profile/*" access="permitAll" />
		<intercept-url pattern="/profile/*/*" access="permitAll" />

		<!-- this implies that any method has a valid token parameter -->
		<intercept-url pattern="/**" access="isAuthenticated()" />

		<custom-filter ref="basicAuthenticationFilter" position="BASIC_AUTH_FILTER" />
		<custom-filter ref="customRestFilter" after="BASIC_AUTH_FILTER" />
	</http>

	<beans:bean id="basicAuthenticationFilter"
		class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
		<beans:constructor-arg name="authenticationManager"
			ref="apiAuthenticationManager" />
		<beans:constructor-arg name="authenticationEntryPoint"
			ref="authenticationEntryPoint" />
	</beans:bean>

	<beans:bean id="expressionHandler"
		class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
		<beans:property name="permissionEvaluator" ref="permissionEvaluator" />
	</beans:bean>


	<beans:bean id="permissionEvaluator"
		class="com.ilearnrw.services.security.UsersPermissionEvaluator">
		<beans:constructor-arg index="0">
			<beans:map key-type="java.lang.String"
				value-type="com.ilearnrw.services.security.PermissionChecker">
				<beans:entry key="READ_PROFILE" value-ref="profilePermissionChecker" />
			</beans:map>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="profilePermissionChecker"
		class="com.ilearnrw.services.security.ProfilePermissionChecker">
	</beans:bean>

	<!-- The authenticationEntryPoint allows us to customise to start the authentication 
		process (i.e. bring up the dialog box when no header is present) The realmName 
		will be displayed in the dialog box, hence not wise to put the username and 
		password in it. -->
	<beans:bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
		<beans:property name="realmName" value="API basic auth" />
	</beans:bean>

	<beans:bean id="customRestFilter"
		class="com.ilearnrw.services.security.RestSecurityFilter">
		<beans:constructor-arg name="authenticationManager"
			ref="restAuthenticationManager" />
		<beans:constructor-arg name="authenticationEntryPoint"
			ref="authenticationEntryPoint" />
		<beans:constructor-arg name="tokenService" ref="tokenService" />

	</beans:bean>

	<!-- <authentication-manager id="restAuthenticationManager"> <authentication-provider 
		ref="restAuthenticationProvider" /> </authentication-manager> -->

	<authentication-manager id="restAuthenticationManager">
		<authentication-provider ref="restAuthenticationProvider" />
	</authentication-manager>

	<authentication-manager alias="apiAuthenticationManager">
		<authentication-provider>
			<user-service id="apiUserDetailsService">
				<user name="api" password="api" authorities="ROLE_API_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder">
	</beans:bean>
	<!-- <user-service id="usersService"> <user name="student" password="student" 
		authorities="ROLE_STUDENT" /> <user name="student2" password="student2" authorities="ROLE_STUDENT" 
		/> <user name="test_user" password="test_password" authorities="ROLE_STUDENT" 
		/> </user-service> -->

	<beans:import resource="db.xml" />

	<beans:bean id="userService"
		class="com.ilearnrw.services.security.SpringSecurityDaoImpl">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="enableGroups" value="true" />
		<beans:property name="enableAuthorities" value="false" />
		<beans:property name="authoritiesByUsernameQuery">
			<beans:value>
				SELECT R.NAME, U.USERNAME
				FROM ROLES R
				JOIN ROLE_MEMBERS
				RM on R.id =
				RM.roles_id
				JOIN USERS U on U.id = RM.members_id
				WHERE
				U.username=?
			</beans:value>
		</beans:property>
		<beans:property name="groupAuthoritiesByUsernameQuery">
			<beans:value>SELECT R.ID, R.NAME, P.NAME
				FROM ROLES R
				JOIN ROLE_MEMBERS
				RM on R.id = RM.roles_id
				JOIN USERS U on U.id = RM.members_id
				JOIN
				ROLE_PERMISSIONS RP ON RP.roles_id = R.id
				JOIN PERMISSIONS P ON P.id
				= RP.permissions_id
				WHERE U.username=?
			</beans:value>
		</beans:property>
	</beans:bean>

	<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<beans:property name="driverClassName" value="${db.driver}" />
		<beans:property name="url" value="${db.url}" />
		<beans:property name="username" value="${db.username}" />
		<beans:property name="password" value="${db.password}" />
	</beans:bean>

	<!-- The restAuthenticationProvider is the class responsible for verifying 
		that the username and password are valid and returning an AuthenticationToken 
		matching the user requesting the resource and the user's access level. This 
		is the place where you would normally hook into a more complex authentication 
		system and user data layer. -->
	<beans:bean id="restAuthenticationProvider"
		class="com.ilearnrw.services.security.RestAuthenticationProvider">
		<beans:constructor-arg name="userDetailsService"
			ref="userService" />
	</beans:bean>

	<beans:bean id="secureRandom"
		class="org.springframework.security.core.token.SecureRandomFactoryBean">
	</beans:bean>

	<beans:bean id="tokenService"
		class="org.springframework.security.core.token.KeyBasedPersistenceTokenService">
		<beans:property name="secureRandom" ref="secureRandom"></beans:property>
		<beans:property name="serverSecret" value="ILEARNRW_password0123456789"></beans:property>
		<beans:property name="serverInteger" value="454545"></beans:property>
	</beans:bean>

</beans:beans>